
.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

}
.nav {
  /* margin-top: 10px; */
}
.city {
  margin-top: 20px;
  opacity: 0.8;
}

.home-item {
  position: absolute;
  top: 0;
  left: 0;
}
.contacts-item {
  position: absolute;
  top: 0;
  right: -20px;
}